
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  background-color: #999999;
}
.box-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
    input{
      outline: none;
      font-family: Arial, cursive ;
    }
    form{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    form div{
      margin-left: 30px;
      margin-top: 30px;
      color: white;
    }
    form div p{
      font-size: 25px;
    }
    .box-input-button{
      display: flex;
      justify-content: center;
    }
    .columns,
    .rows{
      height: 40px;
      width: 200px;
      font-size: 15px;
    }
    .box-input-button button{
      background: rgba(0,0,0,0);
      border: 2px solid white;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 8px 15px;
      margin: 30px;
      font-weight: bold;
      font-size: 0.85em;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .box-input-button button:hover{
       border: 2px solid #4787ff;
     }

table{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
table tr{
  height: 40px;
  width: auto;
  text-align: center;

}
table td{
  width: 100px;
  background-color: #999999;
}
table td.act {
    background: black;
    color: white
}